html, body {
  height:          100%;
  margin:          0;
  padding:         0;
  background:      #121212;
  text-align:      center;
  color:           #fff;
}

.header {
  background-color: #333;
  height: 5.0vw;
  padding: 10px 0;
}
@media(max-width: 640px) {
  .header {
    height: 8.2vw; 
  }
}
.header img {
  height: 100%;
}

#spritesheet {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: round(66.6%, 16px);
  margin: 20px auto;
}

.container .white-border {
  border: 2px solid #fff;
}

.game {
  flex: 1;
  width: auto;
}

.instructions {
  background-color: #333;
  padding: 20px;
  text-align: left;
  height: 100%;
  width: 23.8%;
  padding: 1.9%;
  box-sizing: border-box;
}

#canvas {
  width: 100%;
  aspect-ratio: 3 / 2;
}

.instructions img {
  width: 100%;
}
.instructions .half img {
  width: calc(50% - 2.6px);
}