html, body {
  height:          100%;
  margin:          0;
  padding:         0;
  background:      #121212;
  text-align:      center;
  color:           #fff;
}

.header {
  background-color: #333;
  padding: 10px 0;
}

#spritesheet {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 20px auto;
}

.game {
  flex: 1;
  border: 2px solid #fff;
}

.instructions {
  flex-basis: 200px; 
  background-color: #333;
  padding: 20px;
  text-align: left;
  border: 2px solid #fff;
}
